$backgroundText-black-color: #202020;
$backgroundText-white-color: #FFF;
$text-grey-color: #CACACA;
$close-grey-color: #808080;
$text-smollGrey-color: #999;
$text-orange-focus: #FFD4C1;
$btn-orange-color: #FF6E30;
$btnFocus-orange-color: #BC572B;
$btnHover-orange-color: #CE4307;
$backgroundInput-about-color: #4A4A4A;
$backgroundInput-contacts-color: #E9E9E9;
$btnBorderHover: 3px solid #CE4307;
$btnBorder: 3px solid #FF6E30;
$formBorder: 1px solid #FF6E30;