section(class="main__section about" id="aboutStudio")
 div(class="about__container container")
  h2(class="about__title title-section") О&nbsp;студии
  .about__content
   p.about__desc В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы, инициированные исключительно синтетически, ограничены исключительно образом мышления. Предварительные выводы неутешительны: высокотехнологичная концепция общественного уклада требует от&nbsp;нас анализа соответствующих условий активизации! Следует отметить, что семантический разбор внешних противодействий фиксирует необходимость распределения внутренних резервов и&nbsp;ресурсов. Безусловно, граница обучения кадров предоставляет широкие возможности для первоочередных требований. Повседневная практика показывает, что глубокий уровень погружения предполагает независимые способы реализации новых принципов формирования материально-технической и&nbsp;кадровой базы. Приятно, граждане, наблюдать, как явные признаки институционализации являются только методом политического участия и&nbsp;нарушающими общечеловеческие нормы этики.
   .about__box
    form(class="about__form" action="https://jsonplaceholder.typicode.com/posts" method="post")
     label(class="about__label") Подписаться на&nbsp;рассылку
     input(class="about__email" type="email" id="email" placeholder="Email")
     button(class="about__submit btn btn-reset" id="submit") Отправить